In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import random

In [25]:
state_pops = pd.read_csv('state_pop_annual.csv', index_col=0)
state_pops.columns = ['full_state','state','pop','year']

In [43]:
pb = pd.read_csv('pb.csv', parse_dates=['date'], index_col=0)
mm = pd.read_csv('mega_millions.csv', parse_dates=['date'], index_col=0)

In [44]:
lottery_sales = pd.concat([pb,mm],axis=0)

In [45]:
lottery_sales['year'] = lottery_sales.date.dt.year

In [46]:
annual_lottery_state = lottery_sales[lottery_sales.year<2019].groupby(['year','state']).sum().reset_index().reset_index()

In [ ]:
# draw sales per state per year

In [58]:
lottery_sales_state_pop = annual_lottery_state.merge(state_pops,on=['state','year'])

In [59]:
lottery_sales_state_pop['sales_per_capita'] = lottery_sales_state_pop.draw_sales / lottery_sales_state_pop['pop']

In [61]:
lottery_sales_state_pop[['year','state','sales_per_capita']].to_csv('lottery_sales_state_pop.csv')

In [ ]:
# median draw sales per state

In [62]:
state_median = lottery_sales_state_pop.groupby('state').median().sort_values('sales_per_capita',ascending=False).reset_index()

In [63]:
state_median[['state','sales_per_capita']].to_csv('state_median.csv')

  state  index    year   draw_sales           pop  sales_per_capita
0    NJ  230.5  2014.5  417988595.5  8.927463e+06         46.858317
1    RI  238.5  2014.5   41652693.0  1.055397e+06         39.404473
2    DE  209.5  2014.5   37449110.5  9.368807e+05         39.262948
3    NY  232.5  2014.5  741070704.5  1.947041e+07         38.092132
4    NH  229.5  2014.5   50770091.5  1.338962e+06         37.941320

In [ ]:
# overall annual growth

In [65]:
lottery_sales_state_pop.groupby('year').sum().reset_index()[['year','draw_sales']].to_csv('annual_growth.csv')